<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="contain">
        <nav class="nav">
            <input type="checkbox" id="check">
            <label for="check" class="menu-bar">
                <i class="fa fa-bars"></i>
            </label>
            <ul>
                <li>
                    <a href="/components/started.html">
                        <i class="fa fa-home"></i>
                        <span>
                            home
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-search"></i>
                        <span>
                            discover
                        </span>
                    </a>
                </li>
                <li>
                    <a href="favourite.html">
                        <i class="fa fa-heart"></i>
                        <span>
                            favourites
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-cog"></i>
                        <span>
                            settings
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="wrapper">
            <section class="side-bar">
                <ul>
                    <li>
                        <a href="/components/started.html">
                            <i class="fa fa-home"></i>
                            <span>
                                home
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-search"></i>
                            <span>
                                discover
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="favourite.html">
                            <i class="fa fa-heart"></i>
                            <span>
                                favourites
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-cog"></i>
                            <span>
                                settings
                            </span>
                        </a>
                    </li>
                </ul>
            </section>
            <div class="grid2">
                <div>
                    <h2>I asked God for a bike but i know God dosen't work that way, so i stole a bike and asked God for forgiveness</h2>
                   
                    <div class="like">
                        <button id="thumbs">like <i class="fa fa-thumbs-up"></i> </button>
                        <button id="fav">Add to favourite</button>
                    </div>
                </div>
                <div>
                    <h2>Sex is not the answer. Sex is the question, "yes" is the answer</h2>
                   
                    <div class="like">
                        <button id="thumbs">like <i class="fa fa-thumbs-up"></i> </button>
                        <button class="fav">Add to favourite</button>
                    </div>
                </div>
                <div>
                    <h2>We like in a Country where pizza arrives before the police</h2>
                   
                    <div class="like">
                        <button id="thumbs">like <i class="fa fa-thumbs-up"></i> </button>
                        <button class="fav">Add to favourite</button>
                    </div>
                </div>
                <div>
                    <h2>Women might be able to fake orgasms but men can fake a whole relationship</h2>
                    
                    <div class="like">
                        <button id="thumbs">like <i class="fa fa-thumbs-up"></i> </button>
                        <button class="fav">Add to favourite</button>
                    </div>
                </div>
                <div>
                    <h2>The last thing i want to do is hurt you. But it's still on the list</h2>
                    
                    <div class="like">
                        <button id="thumbs">like <i class="fa fa-thumbs-up"></i> </button>
                        <button class="fav">Add to favourite</button>
                    </div>
                </div>
                <div>
                    <h2>
                       Light travels faster than sound, thats why some people appear bright untill you hear them speak
                    </h2>
                
                    <div class="like">
                        <button id="thumbs">like <i class="fa fa-thumbs-up"></i> </button>
                        <button class="fav">Add to favourite</button>
                    </div>
                </div>
                <div>
                    <h2>
                        If i agreed with you, we'll both be wrong
                    </h2>
                   
                    <div class="like">
                        <button id="thumbs">like <i class="fa fa-thumbs-up"></i> </button>
                        <button class="fav">Add to favourite</button>
                    </div>
                </div>
                <div>
                    <h2>
                       We never really grow up, we only learn how to act in public.
                    </h2>
                   
                    <div class="like">
                        <button id="thumbs">like <i class="fa fa-thumbs-up"></i> </button>
                        <button class="fav">Add to favourite</button>
                    </div>
                </div>
                <div>
                    <h2>
                       Politicians and diapers have one thing in common. They should both be changed regularly and for the same reason
                    </h2>
                   
                    <div class="like">
                        <button id="thumbs">like <i class="fa fa-thumbs-up"></i> </button>
                        <button class="fav">Add to favourite</button>
                    </div>
                </div>
                <div>
                    <h2>
                       My mother never saw the irony in calling me a son-of-a-bitch
                    </h2>
                   
                    <div class="like">
                        <button id="thumbs">like <i class="fa fa-thumbs-up"></i> </button>
                        <button class="fav">Add to favourite</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="/index.js"></script>
    </div>
</body>

</html>