<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="contain">
        <nav class="nav">
            <input type="checkbox" id="check">
            <label for="check" class="menu-bar">
                <i class="fa fa-bars"></i>
            </label>
            <ul>
               <label for="check" class="times">
                 <i class="fa fa-times"></i>
               </label>
                <li>
                    <a href="/components/started.html">
                        <i class="fa fa-home"></i>
                        <span>
                            home
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-search"></i>
                        <span>
                            discover
                        </span>
                    </a>
                </li>
                <li>
                    <a href="favourite.html">
                        <i class="fa fa-heart"></i>
                        <span>
                            favourites
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-cog"></i>
                        <span>
                            settings
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="wrapper">


            <section class="side-bar">
                <ul>
                    <li>
                        <a href="/components/started.html">
                            <i class="fa fa-home"></i>
                            <span>
                                home
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-search"></i>
                            <span>
                                discover
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="favourite.html">
                            <i class="fa fa-heart"></i>
                            <span>
                                favourites
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-cog"></i>
                            <span>
                                settings
                            </span>
                        </a>
                    </li>
                </ul>
            </section>
            <div class="grid2">
                <div>
                    <h2>If you want to set up a company and run it,</h2>
                    <h3><i>Then thats your business</i></h3>
                    <div class="like">
                        <button id="thumbs">like <i class="fa fa-thumbs-up"></i> </button>
                        <button id="fav">Add to favourite</button>
                    </div>
                </div>
                <div>
                    <h2>My laptop was making funny noises today, it sounded like it was singing...</h2>
                    <h3><i>Probably because it's a Dell.</i></h3>
                    <div class="like">
                        <button id="thumbs">like <i class="fa fa-thumbs-up"></i> </button>
                        <button class="fav">Add to favourite</button>
                    </div>
                </div>
                <div>
                    <h2>I know global warming is bad</h2>
                    <h3><i>but wouldn't it be kindds funny if dinosurs made humans go extinct?</i></h3>
                    <div class="like">
                        <button id="thumbs">like <i class="fa fa-thumbs-up"></i> </button>
                        <button class="fav">Add to favourite</button>
                    </div>
                </div>
                <div>
                    <h2>My girlfriend broke up with me because she says i'm too 'controlling'</h2>
                    <h3><i>Funny things is, I don't remember giving her permission to speak.</i></h3>
                    <div class="like">
                        <button id="thumbs">like <i class="fa fa-thumbs-up"></i> </button>
                        <button class="fav">Add to favourite</button>
                    </div>
                </div>
                <div>
                    <h2>what do dentists call their x-rays?</h2>
                    <h3><i>Tooth pics!</i></h3>
                    <div class="like">
                        <button id="thumbs">like <i class="fa fa-thumbs-up"></i> </button>
                        <button class="fav">Add to favourite</button>
                    </div>
                </div>
                <div>
                    <h2>
                        Did you hear about the first restaurant in the moon?
                    </h2>
                    <h3>
                        <i>It had great food, but no atmosphere.</i>
                    </h3>
                    <div class="like">
                        <button id="thumbs">like <i class="fa fa-thumbs-up"></i> </button>
                        <button class="fav">Add to favourite</button>
                    </div>
                </div>
                <div>
                    <h2>
                        What did one ocean say to te other ocean?
                    </h2>
                    <h3>
                       <i> Nothing, it just waved.</i>
                    </h3>
                    <div class="like">
                        <button id="thumbs">like <i class="fa fa-thumbs-up"></i> </button>
                        <button class="fav">Add to favourite</button>
                    </div>
                </div>
                <div>
                    <h2>
                        Do you want hear a construction joke?
                    </h2>
                    <h3>
                        <i>Sorry, i'm still working on it.</i>
                    </h3>
                    <div class="like">
                        <button id="thumbs">like <i class="fa fa-thumbs-up"></i> </button>
                        <button class="fav">Add to favourite</button>
                    </div>
                </div>
                <div>
                    <h2>
                        Why should you never trust stairs?
                    </h2>
                    <h3>
                       <i> The're always up to something</i>
                    </h3>
                    <div class="like">
                        <button id="thumbs">like <i class="fa fa-thumbs-up"></i> </button>
                        <button class="fav">Add to favourite</button>
                    </div>
                </div>
                <div>
                    <h2>
                        When does a joke become a 'dad' joke?
                    </h2>
                    <h3>
                       <i> When it becomes apparent</i>
                    </h3>
                    <div class="like">
                        <button id="thumbs">like <i class="fa fa-thumbs-up"></i> </button>
                        <button class="fav">Add to favourite</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="/index.js"></script>
    </div>
</body>

</html>