<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="contain">
        <nav class="nav">
            <input type="checkbox" id="check">
            <label for="check" class="menu-bar">
                <i class="fa fa-bars"></i>
            </label>
            <ul>
                <li>
                    <a href="/components/started.html">
                        <i class="fa fa-home"></i>
                        <span>
                            home
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-search"></i>
                        <span>
                            discover
                        </span>
                    </a>
                </li>
                <li>
                    <a href="favourite.html">
                        <i class="fa fa-heart"></i>
                        <span>
                            favourites
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-cog"></i>
                        <span>
                            settings
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="wrapper">
            <section class="side-bar">
                <ul>
                    <li>
                        <a href="/components/started.html">
                            <i class="fa fa-home"></i>
                            <span>
                                home
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-search"></i>
                            <span>
                                discover
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="favourite.html">
                            <i class="fa fa-heart"></i>
                            <span>
                                favourites
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-cog"></i>
                            <span>
                                settings
                            </span>
                        </a>
                    </li>
                </ul>
            </section>
            <div class="grid2">
                <div>
                    <h2>Unless your name is Google, stop acting like you know everything.</h2>
                   
                    <div class="like">
                        <button id="thumbs">like <i class="fa fa-thumbs-up"></i> </button>
                        <button id="fav">Add to favourite</button>
                    </div>
                </div>
                <div>
                    <h2>I nearly slipped in the shower and i tried to hold unto the water.</h2>
                   
                    <div class="like">
                        <button id="thumbs">like <i class="fa fa-thumbs-up"></i> </button>
                        <button class="fav">Add to favourite</button>
                    </div>
                </div>
                <div>
                    <h2>Eating clock is time consuming</h2>
                   
                    <div class="like">
                        <button id="thumbs">like <i class="fa fa-thumbs-up"></i> </button>
                        <button class="fav">Add to favourite</button>
                    </div>
                </div>
                <div>
                    <h2><b>Normal people:</b> Why did the chicken cross the road? <br>
                    <b>Albert Einstein:</b> E + V<sup>z</sup> - (X-Y <sup>2</sup> ) X < Z > = ?
                    </h2>
                    
                    <div class="like">
                        <button id="thumbs">like <i class="fa fa-thumbs-up"></i> </button>
                        <button class="fav">Add to favourite</button>
                    </div>
                </div>
                <div>
                    <h2>someone just called me normal. I've never been so insulted in my entire life</h2>
                    
                    <div class="like">
                        <button id="thumbs">like <i class="fa fa-thumbs-up"></i> </button>
                        <button class="fav">Add to favourite</button>
                    </div>
                </div>
                <div>
                    <h2>
                       I was wondering why the baseball was getting bigger, then it hit me.
                    </h2>
                
                    <div class="like">
                        <button id="thumbs">like <i class="fa fa-thumbs-up"></i> </button>
                        <button class="fav">Add to favourite</button>
                    </div>
                </div>
                <div>
                    <h2>
                       I was in the kitchen cleaning when suddenly i realised, omg, i'm late for facebook.
                    </h2>
                   
                    <div class="like">
                        <button id="thumbs">like <i class="fa fa-thumbs-up"></i> </button>
                        <button class="fav">Add to favourite</button>
                    </div>
                </div>
                <div>
                    <h2>
                      A husband was shocked at his wifes school report card. It was written, "Very obedient and soft spoken student".
                    </h2>
                   
                    <div class="like">
                        <button id="thumbs">like <i class="fa fa-thumbs-up"></i> </button>
                        <button class="fav">Add to favourite</button>
                    </div>
                </div>
                <div>
                    <h2>
                      Once i was kidnapped by mimes. They did unspeakable things to me.
                    </h2>
                   
                    <div class="like">
                        <button id="thumbs">like <i class="fa fa-thumbs-up"></i> </button>
                        <button class="fav">Add to favourite</button>
                    </div>
                </div>
                <div>
                    <h2>
                      If you think nobody cares if you're alive, try missing a couple of payments.
                    </h2>
                   
                    <div class="like">
                        <button id="thumbs">like <i class="fa fa-thumbs-up"></i> </button>
                        <button class="fav">Add to favourite</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="/index.js"></script>
    </div>
</body>

</html>