*{
    padding: 0;
    margin: 0;
}
.icon,
.info{
    width: fit-content;
    margin: auto;
    text-align: center;
}
code{
    font-size: 50px;
}
.icon i{
font-size: 90px;
}
.info a{
    font-size: 30px;
    line-height: 70px;
}
